<html>		
	<head> 

		<title>first express</title>
		<script src="https://www.gstatic.com/firebasejs/4.1.1/firebase.js"></script>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
		<script src="http://code.angularjs.org/1.3.0/angular-route.js"></script>
   
		
		<script>
            // Initialize Firebase
            var config = {
                apiKey: "AIzaSyBVVQnrtmt9D9arsU0xTrNB7s9pHeX6tac",
                authDomain: "teste-firebase-23985.firebaseapp.com",
                databaseURL: "https://teste-firebase-23985.firebaseio.com",
                projectId: "teste-firebase-23985",
                storageBucket: "teste-firebase-23985.appspot.com",
                messagingSenderId: "493837150254"
            };
            firebase.initializeApp(config);
            
        </script>

	</head>
	
	<body> 
     <script src="/socket.io/socket.io.js"></script>
     <script>
       var socket = io('http://localhost:8080');
         
     </script>
		<div id="cantanier" ng-app="myApp" ng-controller="Game">

			<button id="gone" href="/inicio" ng-click="signInWithGoogle()"> sign In with google</button>
			
			<button id="signOut" ng-click="signOut()"> 
				sign Out
			</button>
			
		</div>
		
		<!-- <div id="personagem" ng-app="myPersonagem" ng-controller="personagem"> -->
			
			<!-- <p>Add Char: <input id="addChar"  /></p> -->
			
			<!-- <button id="addCharbtn" ng-click="criaPersonagem()"> addChar </button> -->
		
		<!-- </div> -->
		
		<script src="js/firebaseAuth.js"></script>
		

	</body>
</html>